<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>launchMark</key>
		<integer>1</integer>
		<key>urlScheme</key>
		<string>gapqLaunch</string>
		<key>appImage</key>
		<string></string>
		<key>appName</key>
		<string>轻启</string>
		<key>applicationType</key>
		<string>System</string>
	</dict>
	<dict>
		<key>launchMark</key>
		<integer>1</integer>
		<key>urlScheme</key>
		<string>prefs:root</string>
		<key>appImage</key>
		<string></string>
		<key>appName</key>
		<string>设置</string>
		<key>applicationType</key>
		<string>System</string>
	</dict>
	<dict>
		<key>launchMark</key>
		<integer>1</integer>
		<key>urlScheme</key>
		<string>prefs:root=MOBILE_DATA_SETTINGS_ID</string>
		<key>appImage</key>
		<string></string>
		<key>appName</key>
		<string>蜂窝数据</string>
		<key>applicationType</key>
		<string>System</string>
	</dict>
	<dict>
		<key>launchMark</key>
		<integer>1</integer>
		<key>urlScheme</key>
		<string>prefs:root=BATTERY_USAGE</string>
		<key>appImage</key>
		<string></string>
		<key>appName</key>
		<string>电池</string>
		<key>applicationType</key>
		<string>System</string>
	</dict>
	<dict>
		<key>launchMark</key>
		<integer>1</integer>
		<key>urlScheme</key>
		<string>prefs:root=General&amp;path=VPN</string>
		<key>appImage</key>
		<string></string>
		<key>appName</key>
		<string>VPN</string>
		<key>applicationType</key>
		<string>System</string>
	</dict>
	<dict>
		<key>launchMark</key>
		<integer>1</integer>
		<key>urlScheme</key>
		<string>prefs:root=General</string>
		<key>appImage</key>
		<string></string>
		<key>appName</key>
		<string>通用</string>
		<key>applicationType</key>
		<string>System</string>
	</dict>
	<dict>
		<key>launchMark</key>
		<integer>1</integer>
		<key>urlScheme</key>
		<string>prefs:root=LOCATION_SERVICES</string>
		<key>appImage</key>
		<string></string>
		<key>appName</key>
		<string>定位</string>
		<key>applicationType</key>
		<string>System</string>
	</dict>
	<dict>
		<key>launchMark</key>
		<integer>0</integer>
		<key>urlScheme</key>
		<string>prefs:root=Privacy</string>
		<key>appImage</key>
		<string></string>
		<key>appName</key>
		<string>隐私</string>
		<key>applicationType</key>
		<string>System</string>
	</dict>
	<dict>
		<key>launchMark</key>
		<integer>1</integer>
		<key>urlScheme</key>
		<string>prefs:root=NOTIFICATIONS_ID</string>
		<key>appImage</key>
		<string></string>
		<key>appName</key>
		<string>通知</string>
		<key>applicationType</key>
		<string>System</string>
	</dict>
	<dict>
		<key>launchMark</key>
		<integer>1</integer>
		<key>urlScheme</key>
		<string>prefs:root=WIFI</string>
		<key>appImage</key>
		<string></string>
		<key>appName</key>
		<string>WIFI</string>
		<key>applicationType</key>
		<string>System</string>
	</dict>
</array>
</plist>
